<h1>New Post</h1>
    <div>
     <form>
       <div class="input-field">
         {{input autofocus="true" value=name id="name" type="text"}}
          <label for="name">Name</label>
       </div>

       <div class="input-field">
         {{input value=content id="content" type="text"}}
          <label for="content">Question</label>
       </div>

       <div class="input-field">
         {{textarea value=details id="details" class="materialize-textarea"}}
         <label for="details">Details</label>
       </div>

       <button class="waves-effect waves-light btn-large" {{action 'save'}}>Save</button>
     </form>
    </div>
