<h1>New Answer</h1>
    <div>
      <form>
        <div class="input-field">
          {{input autofocus="true" value=name id="name" type="text"}}
          <label for="name">Name</label>
        </div>

        <div class="input-field">
          {{textarea value=content id="content" class="materialize-textarea"}}
          <label for="content">Content</label>
        </div>

        <button class="waves-effect waves-light btn-large" {{action 'save'}}>Save</button>
      </form>
    </div>
