<h1>New Answer</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input autofocus="true" value=name id="name" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{input value=content id="content" class="form-control"}}
        </div>

        <button class="waves-effect waves-light btn-large" {{action 'save'}}>Save</button>
      </form>
    </div>
