<h1>New Answer</h1>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            {{input autofocus="true" value=name id="name" type="text"}}
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{textarea value=content id="content" class="materialize-textarea"}}
            <label for="content">Content</label>
          </div>
        </div>



        <button class="waves-effect waves-light btn-large" {{action 'save'}}>Save</button>
      </form>
    </div>
