{{#if (eq questions.length 0)}}
  <h3 class="center text-muted">No Questions</h3>
{{/if}}
{{#each questions as |question|}}
  {{question-display question=question destroyQuestion="destroyQuestion"}}
{{/each}}
