body{
  margin-bottom: 8em;
  }
p{
  font-size: 18px;
}
.header{
  margin-top: 75px;
  text-align: center;
}
.category{
  font-size: 25px;
  color: #86878A;
  text-align: left;
}
.thumbs{
  color: #86878A;
  font-size: 25px;
}
.thumb-down:hover{
  color: #B63238;
}
.thumb-up:hover{
  color: #5EAF4C;
}
.clear{
  display: inline-block;
}
.fire{
  color: #FF8300;
}
.trash{
  color: #B63238;
}
.answerbtn{
  color: #86878A;
  text-align: left;
}
.content{
  font-size: 27px;
}
.timestamp{
  color: #86878A;
}
.timestampIndex{
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: #86878A;
}
.box{
  /*box-shadow: 15px 15px 5px #AFAFAF;*/
  margin: 2.5em 0 2.5em 0;
  padding: .5em 1em .5em 1em;
  border: solid 2px #DBDBDB;
}
.contentList li{
    list-style-type: none;
}
.questionheader{
  display: inline-block;
  clear: both;
}
.my-btn{
  margin-top: 1em;
}
.setting{
  font-size: 20px;
  color: #86878A;
}
#myjumbo{
  margin-top: 50px;
}
.mybtn{
  background-color: rgba(0, 0, 0, 0);
  border:rgba(0, 0, 0, 0);
}
.answerBox{
  margin: 3em 2.5em 1em 2.5em;
  padding: .5em 1em .3em 1em;
  border: solid 2px #DBDBDB;
}
#footer{
  margin-top: 1em;
}
.nav a{
  color: #86878A;
}
.nav a:hover{
  color: #4A4B4C;
}
#footer a{
  color: #86878A;
}
#footer a:hover{
  color: #4A4B4C;
}
.my-btn{
  color: #FFFFFF;
}
.my-btn:hover{
  color: #E5E5E5;
}
.btn-group{
  margin-top: 2em;
}
