<div class="navbar-fixed">
  <nav class="blue z-depth-4">
    <div class="nav-wrapper">
        {{#link-to "index"}}<a class="brand-logo center"><h3>&lcub;&lcub;Code Answers&rcub;&rcub;</h3></a>{{/link-to}}
        <ul id="nav-mobile" class="left hide-on-med-and-down home">
          <li>{{#link-to "index"}}<a>Home</a>{{/link-to}}</li>
        </ul>
    </div>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
