<div class="navbar-fixed">
  <nav class="blue z-depth-2">
    <div class="nav-wrapper">
        {{#link-to "index"}}<a class="brand-logo center">&lcub;&lcub;Code Answers&rcub;&rcub;</a>{{/link-to}}
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li>{{#link-to "index"}}<a>Home</a>{{/link-to}}</li>
        </ul>
    </div>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
