<div class="row valign-wrapper">
  <div class="col s6 valign">
    <h1 class="questionheader valign">Questions</h1>
  </div>

  <div class="col s6 valign">

  </div>
</div>
<hr>
{{another-question-tile store=store destroyQuestion="destroyQuestion"}}
