<div class="row valign-wrapper">
  <div class="col s6 valign">
    <h1 class="questionheader valign">Questions</h1>
  </div>

  <div class="col s6 valign">
    {{#link-to 'new-question'}}<button class="btn-floating btn-large waves-effect waves-light blue right my-btn valign"><i class="large material-icons">add</i></button>{{/link-to}}
  </div>
</div>
<hr>
{{#each model as |question|}}
  {{question-display question=question destroyQuestion="destroyQuestion"}}
{{/each}}
