<div class="row valign-wrapper">
  <div class="col s6 valign">
    <h1 class="questionheader valign">Questions</h1>
  </div>

  <div class="col s6 valign">
    
  </div>
</div>
<hr>
{{question-tile questions=model destroyQuestion="destroyQuestion"}}
